page-log {
    .img-welcome {
        display: flex;
        justify-content: center;
        margin: 2pc 0;

        img {
            -moz-transform: skewX(-10deg) skewY(0deg);
            -webkit-transform: skewX(-10deg) skewY(0deg);
            -o-transform: skewX(-10deg) skewY(0deg);
            -ms-transform: skewX(-10deg) skewY(0deg);
            transform: skewX(-10deg) skewY(0deg);
            width: 14pc;
        }
    }

    #opt-butts {
        display: flex;
        justify-content: center;
        padding: 1pc 2pc;
        margin: 2pc 0;

        button {
            padding: 1.5pc 1pc;
            width: 7pc;
            color: white;
            transition: all 500ms ease;

            &:hover {
                background: #3caf25;
                box-shadow: 2px 2px 3px 0px grey;
            }
        }

        #login {
            background: #2cc91e;
        }
    }

    #info {
        display: flex;
        flex-direction: column;
        align-items: center;
        > * {
            margin: 1pc 0;
        }
        #reg {
            background: #10a9cf;
            width: 50%;
        }
    }
}
