page-chat {
	#chatMsg {
		display: flex;
		flex-direction: column;
		.msg {
			background: #1AC126;
			display: flex;
			flex-direction: column;
			margin: 1px 0;
			color:white;
			padding: 1% 5%;
			p {
				margin: 2px 0;
			}
		}

		.msg-left {
			align-self: flex-start;
			border-radius: 0px 5px 5px 5px;
		}

		.msg-right {
			align-self: flex-end;
			border-radius: 5px 0px 5px 5px;
		}
    }
    #send-msg {
        float: right;
    }
}
