page-video-chat {
    #content {
        background: #c4c4c4;
        #publisher {
            position: absolute;
            top: 2pc;
            right: 1.5pc;
            width: 8pc;
            height: 10pc;
            z-index: 100;
        }
        #subscriber {
            height: 100%;
        }
        #endcall {
            position: absolute;
            bottom: 3pc;
            z-index: 1000;
            left: 50%;
            right: 50%;
            display: flex !important;
            justify-content: center !important;
            > button {
                display:flex;
                align-self: center;
            }
        }
    }
}
