<ion-header>
  <ion-toolbar color="{{user.theme}}">
    <ion-title>
      Honesty
    </ion-title>
    <ion-buttons end>
      <button ion-button item-left id="user_profile"  (click)="showProfile(user)">
        <p>{{user.username}}</p>
        <img src="https://api.adorable.io/avatars/75/{{user.id}}">
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding id="content">
  <ion-item *ngIf="_SESSIONS.length == 0">
      {{ 'homepage.nocon' | translate }}
  </ion-item>
  <ion-list *ngIf="_SESSIONS.length > 0">
    <h6>{{ 'homepage.recentcon' | translate }}</h6>
    <ion-item *ngFor="let session of _SESSIONS" (click)="goSession(session)">
      <ion-avatar item-start>
        <img src="https://api.adorable.io/avatars/75/{{session.username_user1 == user.username ? session.id_user2: session.id_user1}}">
      </ion-avatar>
      <h2>
        {{session.username_user1 == user.username ? session.username_user2: session.username_user1}}
      </h2>
      <ion-row>
        <ion-col col-9>
            <p>{{ (session.last_msg.length > 12) ? session.last_msg.substr(0,12) + '...': session.last_msg}}</p>
        </ion-col>
        <ion-col col-2>
            <span>{{session.last_msg_time}}</span>
        </ion-col>
      </ion-row>
      <button ion-button clear item-end color="light" icon-only>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-fab bottom right #fab>
    <button ion-fab color="{{user.theme}}" (click)="fabBut(fab)">
      <ion-icon name="person"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="getMyContacts()" color="button">
        <ion-icon name="contacts"></ion-icon>
      </button>
      <button ion-fab color="contacts" (click)="scanQR()" >
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>