page-home {
    ion-toolbar{
        ion-buttons {
            #user_profile {
                display: flex;
                justify-content: space-between;
                color:white;
                img {
                    margin: 0 3px;
                    height: 3pc;
                    width: 3pc;
                    border-radius: 50%;
                    border:1px solid white;
                }
            }
        }
    }
    #content {
        ion-list {
            h6 {
                font-size: 90%;
                font-weight: 400;
                color:black;
                opacity: 0.8;
            }

            ion-item {
                margin: 2px 0;
                border-radius: 5px;
                background: #1c90be;
                color:white;
                ion-avatar {
                    img {
                        border:1px solid white;
                    }
                }
                ion-row {
                    ion-col {
                        p {
                            font-size: 90%;
                            color:white;
                        }
                        span {
                            font-size: 80%;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}
